body {
  margin: 0px !important;
  padding: 0;
}
.main {
  text-align: center;
}

.nav-main-container {
  margin-bottom: 20px;
}
.article-container .article-image {
  width: 100%;
  display: block;
  height: 200px;
}
.loader {
  display: flex;
  justify-content: center;
}
